@use "../styles/mixins" as m;
@use "../styles/variables" as v;

#home {
  background-image: url(../../assets/monstera-leafy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  @include m.sm {
    align-items: center;
  }
}

.imgContainer {
  margin-top: 30%;
  width: 80%;
  height: 0;
  padding-bottom: calc(80% * 9 / 16);
  position: relative;
  @include m.sm {
    margin-bottom: 100%;
  }
  @include m.md {
    margin-bottom: 55%;
  }
  @include m.lg {
    margin: 0;
  }
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.sm {
      height: 150%;
    }
    @include m.md {
      height: 120%;
    }
    @include m.lg {
      height: 100%;
    }
    .helloText {
      margin-bottom: 40%;
      position: absolute;
      z-index: 1;
      padding-left: 15%;
      @include m.md {
        padding-left: 28%;
      }
      @include m.xl {
        padding-top: 2%;
        padding-left: 15%;
      }
      img {
        width: 35%;
        @include m.md {
          width: 20%;
        }
      }
    }
    .neonText {
      margin-bottom: 25%;
      position: absolute;
      z-index: 1;
      padding-left: 5%;
      @include m.md {
        padding-left: 25%;
        margin-bottom: 30%;
      }
      @include m.lg {
        padding-left: 20%;
        margin-bottom: 32%;
      }
      @include m.xl {
        padding-left: 12%;
      }
      img {
        width: 98%;
        @include m.md {
          width: 74%;
        }
        @include m.lg {
          width: 65%;
        }
        @include m.xl {
          width: 67%;
        }
      }
    }
    .neonDev {
      padding-top: 120%;
      position: absolute;
      z-index: 1;
      padding-left: 20%;
      @include m.md {
        padding-top: 45%;
        padding-left: 30%;
      }
      @include m.lg {
        padding-top: 32%;
        padding-left: 25%;
      }
      @include m.xl {
        padding-left: 18%;
      }
      img {
        width: 80%;
        @include m.md {
          width: 60%;
        }
        @include m.xl {
          width: 55%;
        }
      }
    }
    .linkIcon {
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      padding-top: 135%;
      width: 15%;
      height: 5%;
      @include m.md {
        padding-top: 50%;
      }
      @include m.lg {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3%;
        margin-left: 40%;
        width: 6%;
        height: 40%;
      }
      @include m.xl {
        margin-left: 30%;
      }
      .smallLinks {
        padding: 50%;
        color: rgba(52, 70, 52, 0.51);
        display: block;
        @include m.lg {
          display: none;
        }
      }
      .bigLinks {
        color: rgba(52, 70, 52, 0.51);
        display: none;
        @include m.lg {
          padding: 45%;
          display: block;
        }
      }
    }
  }
}
