#skills {
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 54, 54);
}

h1 {
  padding: 5%;
  text-align: center;
  font-size: 2em;
  font-family: "Segoe";
  color: white;
}

.container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10%;
  justify-content: space-around;
  max-width: 80%;
  background-color: rgb(54, 54, 54);
  fieldset {
    width: 25%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 51px 8px rgba(245, 44, 232, 0.81);
    -moz-box-shadow: 0px 0px 51px 8px rgba(245, 44, 232, 0.81);
    box-shadow: 0px 0px 30px 8px rgba(128, 0, 255, 0.81);
    .icons {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
      color: white;
      margin: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
    }
    legend {
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
      font-size: 1.2em;
      width: 30%;
      margin-left: 50px;
    }
  }
}
