@use "../styles/mixins" as m;
@use "../styles/variables" as v;

#skills {
  z-index: -1;
  position: relative;
  background-image: url(../../assets/homepage/green-monstera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.193);
  @include m.sm {
    align-items: center;
  }
}

#skills::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(54, 50, 50, 0.54);
}

.skillsHeader {
  position: relative;
  padding-top: 50px;
  margin-bottom: 8%;
  text-align: center;
  font-size: 1.7em;
  font-family: "Segoe";
  color: white;
  @include m.sm {
    padding-top: 70px;
    font-size: 2em;
    margin-bottom: 25%;
  }
  @include m.md {
    padding-top: 65px;
    font-size: 2.5em;
    margin-bottom: 12%;
  }
  @include m.lg {
    font-size: 3.5em;
    padding-top: 120px;
    padding-bottom: 2%;
  }
  @include m.xl {
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: 4em;
    margin-bottom: 0;
  }
}

.container {
  position: relative;
  padding-left: 3%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  max-width: 95%;
  @include m.sm {
    margin-top: 5%;
  }
  @include m.md {
    margin-top: -12%;
  }
  @include m.lg {
    margin-top: -1%;
  }
  .front {
    position: relative;
    background-color: rgba(54, 54, 54, 0.744);
    margin: 20%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    -moz-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    box-shadow: 0px 0px 30px 8px rgba(20, 194, 200, 0.994);
    @include m.sm {
      margin: 1%;
      margin-bottom: 2%;
    }
    @include m.md {
      margin-bottom: -5%;
      padding-left: 18%;
      padding-right: 18%;
      width: 25%;
    }
    @include m.lg {
      padding-bottom: 0;
      padding-left: 12%;
      padding-right: 12%;
      padding-top: 3%;
      padding-bottom: 5%;
      margin: 5%;
      width: 20%;
    }
    @include m.xl {
      padding-left: 7%;
      padding-right: 7%;
      padding-top: 0;
      padding-bottom: 0;
      margin: 6.5%;
      width: 20%;
    }
  }

  .back {
    position: relative;
    background-color: rgba(54, 54, 54, 0.744);
    margin: 20%;
    padding-left: 14%;
    padding-right: 14%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    -moz-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    box-shadow: 0px 0px 30px 8px rgba(20, 194, 200, 0.994);
    @include m.sm {
      margin: 1;
      margin-bottom: 20%;
      padding-left: 5%;
      padding-right: 5%;
    }
    @include m.md {
      margin-bottom: 15%;
      padding-left: 10%;
      padding-right: 10%;
      width: 25%;
    }
    @include m.lg {
      padding-left: 5%;
      padding-right: 5%;
      margin: 6%;
      width: 20%;
    }
    @include m.xl {
      padding-left: 0;
      padding-right: 0;
      margin: 6%;
      width: 20%;
    }
  }

  .tools {
    position: relative;
    background-color: rgba(54, 54, 54, 0.744);
    margin: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    -moz-box-shadow: 0px 0px 51px 8px rgba(20, 194, 200, 0.994);
    box-shadow: 0px 0px 30px 8px rgba(20, 194, 200, 0.994);
    @include m.sm {
      margin: 1%;
      margin-bottom: 2%;
      padding-left: 10%;
      padding-right: 10%;
    }
    @include m.md {
      margin-bottom: -5%;
      padding-left: 2%;
      padding-right: 2%;
      width: 25%;
    }
    @include m.lg {
      margin-top: 10%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 20%;
    }
    @include m.xl {
      margin-top: 4%;
      padding-left: 0;
      padding-right: 0;
      padding-top: 1%;
      padding-bottom: 1%;
      width: 20%;
    }
  }

  .icons {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
    color: white;
    margin: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    i {
      padding-left: 12%;
      padding-right: 12%;
    }
  }
  legend {
    color: white;
    font-family: "Segoe";
    font-size: 1.5em;
    margin-left: 20px;
    @include m.xl {
      font-size: 2em;
    }
  }
}
