@use "../styles/mixins" as m;
@use "../styles/variables" as v;

#about {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.textContainer {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20%;
  @include m.sm {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
  @include m.md {
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
  }
  @include m.lg {
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 17%;
  }
  @include m.xl {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;
  }
  fieldset {
    border-radius: 8px;
    border: 7px solid #f4c545;
    legend {
      img {
        width: 180px;
      }
    }
    p {
      color: rgb(0, 0, 0);
      line-height: 1.5em;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      padding: 5%;
      font-size: 0.9em;
      @include m.sm {
        font-size: 1.2em;
      }
      @include m.md {
        padding: 5%;
      }
      @include m.xl {
        font-size: 1.5em;
        padding: 7%;
      }
    }
  }
}
