@import "../components/styles/mixins";
@import "../components/styles/variables";
@import "~bootstrap/scss/bootstrap";

/* Colors */

:root {
  /*   Primary color  */
  --primary-color: #f3af4e;

  /* Secondary color */
  --secondary-color: #f5abb8;

  /* Accent color */
  --accent-color: #f2f2f2;
}
