body {
  background-image: url(../public/assets/monstera-leafy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.helloText {
  display: flex;
  transform: translateX(40%) translateY(-200%);
  img {
    width: 7%;
  }
}

.neonText {
  display: flex;
  padding-left: 38%;
  transform: translateY(-120%);
  img {
    width: 40%;
  }
}

.neonDev {
  display: flex;
  padding-left: 41%;
  padding-top: 8%;
  img {
    width: 30%;
  }
}

.linkIcon {
  display: flex;
  flex-direction: column;
  transform: translateY(310px) translateX(-35px);
  padding-left: 65%;
  padding-top: 28px;
  padding-bottom: 20px;
  span {
    color: rgba(52, 70, 52, 0.51);
  }
}
