.navUl {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 50px;
  background-color: rgba(27, 36, 27, 0.454);
  i {
    color: rgb(246, 20, 208);
  }
}
